body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100vh;
	font-family: "Gloria Hallelujah", cursive;
	font-family: "Zen Kurenaido", sans-serif;
}

.main_container {
	display: flex;
	flex-direction: column;
	background-color: white;
	align-self: center;
	width: 500px;
	padding: 15px;
	font-family: "Gloria Hallelujah", cursive;
	font-family: "Zen Kurenaido", sans-serif;
}

.content_container {
	display: flex;
	justify-content: space-around;
}

.text_container {
	width: 50%;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.form_container form {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	font-family: "Gloria Hallelujah", cursive;
	font-family: "Zen Kurenaido", sans-serif;
}

img {
	width: 50px;
}

button {
	display: inline-flex;
	align-self: center;
	border-radius: 15px;
	border: none;
	padding: 15px 20px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(225, 235, 235);
}

input {
	border: none;
	border-bottom: 1px solid;
	margin-top: 10px;
	padding: 5px;
	font-family: "Gloria Hallelujah", cursive;
	font-family: "Zen Kurenaido", sans-serif;
}
